.video-dance-box {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.video-dance{
    pointer-events: none;
    opacity: 0.15;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    min-height: 100vh;
    height: auto;
    z-index: -2;
}